* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after,
button,
blockquote {
    box-sizing: inherit;
    font: inherit;
    letter-spacing: 0.1em;
}

html {
    box-sizing: border-box;
    color: #000;
    font: clamp(16px, 10px + 0.45dvw, 20px) / 1.5 Arial, sans-serif;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    flex-grow: 1;
    padding: 2em 1em;
}

table {
    border-collapse: collapse;
    border: 0.12em solid rgb(140 140 140);
}

caption {
    margin-bottom: 1em;
    color: #01796f;
}

td {
    border: 0.08em solid rgb(160 160 160);
    padding: 1em;
    vertical-align: top;
    text-align: left;
}

tbody > tr:nth-of-type(even) {
    background-color: #7cb9e817;
}

tbody > tr td:nth-child(1) {
    color: #00308f;
}

tbody > tr td:nth-child(1),
tbody > tr td:nth-child(2),
tbody > tr td:nth-child(3),
tbody > tr td:nth-child(4),
tbody > tr td:nth-child(5) {
    font-weight: 700;
}

tbody > tr td:nth-child(2) {
    color: #006241;
}

tbody > tr td:nth-child(4) {
    color: #662d91;
}

tbody > tr td:nth-child(3) {
    font-weight: 600;
}

tbody > tr td:nth-child(2),
tbody > tr td:nth-child(3),
tbody > tr td:nth-child(4) {
    position: relative;
}

tbody > tr td:nth-child(2)::after,
tbody > tr td:nth-child(3)::after,
tbody > tr td:nth-child(4)::after {
    position: absolute;
    bottom: 0;
    right: 0.2em;
    color: rgb(140 140 140);
    font-size: 0.7em;
}

tbody > tr td:nth-child(2)::after {
    content: 'Bulgarian';
}

tbody > tr td:nth-child(3)::after {
    content: 'Произношение';
}

tbody > tr td:nth-child(4)::after {
    content: 'English';
}

button {
    padding: 0.5em 1em;
    background: #00308f;
    color: #fff;
    border-radius: 0.3em;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

@media (max-width: 620px) {
    tr {
        display: flex;
        flex-direction: column;
    }
}
