* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after,
button,
blockquote {
    box-sizing: inherit;
    font: inherit;
    letter-spacing: 0.1em;
}

html {
    box-sizing: border-box;
    color: #000;
    font: 19px / 1.5 Arial, sans-serif;
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex-grow: 1;
    padding: 2em 1em;
}

table {
    border-collapse: collapse;
    border: 0.12em solid rgb(140 140 140);
}

caption {
    margin-bottom: 1em;
    color: #01796f;
    font-size: 1.2em;
    text-decoration: underline;
}

td {
    border: 0.08em solid rgb(160 160 160);
    padding: 1em;
    vertical-align: top;
    text-align: left;
    height: 8em;
}

tbody > tr:nth-of-type(even) {
    background-color: #7cb9e817;
}

tbody > tr td:nth-child(1) {
    color: #00308f;
}

tbody > tr td:nth-child(1),
tbody > tr td:nth-child(2),
tbody > tr td:nth-child(3),
tbody > tr td:nth-child(4),
tbody > tr td:nth-child(5) {
    font-weight: 700;
}

tbody > tr td:nth-child(2) {
    color: #006241;
}

tbody > tr td:nth-child(4) {
    color: #662d91;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5em;
    border-width: 0;
    border: none;
}

tbody > tr:not(:last-child) td:nth-child(4) {
    border-bottom: 0.08em solid rgb(160 160 160);
}

tbody > tr td:nth-child(4) span {
    width: fit-content;
}

tbody > tr td:nth-child(3) {
    font-weight: 600;
}

tbody > tr td:nth-child(2),
tbody > tr td:nth-child(3),
tbody > tr td:nth-child(4) {
    position: relative;
}

tbody > tr td:nth-child(2)::after,
tbody > tr td:nth-child(3)::after,
tbody > tr td:nth-child(4)::after {
    position: absolute;
    bottom: 0;
    right: 0.2em;
    color: rgb(140 140 140);
    font-size: 0.7em;
}

tbody > tr td:nth-child(2)::after {
    content: 'Bulgarian';
}

tbody > tr td:nth-child(3)::after {
    content: 'Произношение';
}

tbody > tr td:nth-child(4)::after {
    content: 'English';
}

button {
    padding: 0.5em 1em;
    background: #00308f;
    color: #fff;
    border-radius: 0.3em;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.marked {
    color: red;
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

.translation {
    position: absolute;
    left: 0.25em;
    bottom: 100%;
    color: #ff8c00;
    z-index: 2;
    background-color: #fff;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.4);
}

@media (max-width: 620px) {
    tr {
        display: flex;
        flex-direction: column;
    }
}
