* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after,
button,
blockquote {
    box-sizing: inherit;
    font: inherit;
    letter-spacing: 0.1em;
}

html {
    box-sizing: border-box;
    color: #000;
    font-weight: 700;
    font: clamp(16px, 10px + 0.45dvw, 20px) / 1.5 Arial, sans-serif;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    flex-grow: 1;
    /* max-width: 700px; */
    padding: 2em
        clamp(2dvh, calc((100dvw - 700px) / 2), calc(100dvw / 2));
}

table {
    border-collapse: collapse;
    border: 0.12em solid rgb(140 140 140);
}

caption {
    margin-bottom: 1em;
    color: #01796f;
}

td {
    border: 0.08em solid rgb(160 160 160);
    padding: 1em;
}

tbody > tr:nth-of-type(even) {
    background-color: #7cb9e817;
}

tbody > tr td:nth-child(1) {
    color: #00308f;
}

tbody > tr td:nth-child(2) {
    color: #006241;
}

tbody > tr td:nth-child(4) {
    font-weight: 500;
}

button {
    padding: 0.5em 1em;
    background: #00308f;
    color: #fff;
    border-radius: 0.3em;
    border: none;
    font-weight: 700;
    cursor: pointer;
    margin-left: auto;
}
